<% if user_signed_in? %>
  <% if current_user.has_role? :admin %>
        <!--<p>MAN HINH CUA BON ADMIN</p>-->
    <h1 align="center"> Shop lists</h1>
    <div class="container">
      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr>
              <th><%= sortable "id" %></th>
              <th><%= sortable "name" %></th>
              <th><%= sortable "address" %></th>
              <th><%= sortable "longitude" %></th>
              <th><%= sortable "latitude" %></th>
              <th><%= sortable "created_at" %></th>
              <th><%= sortable "updated_at" %></th>
              <!--<th colspan="2"></th>-->
            </tr>
          </thead>

          <tbody>
            <%- @shops_admin.each do |s| -%>
            <tr>
              <td><%= s.id %></td>
              <td><%= s.name %></td>
              <td><%= s.address %></td>
              <td><%= s.longitude %></td>
              <td><%= s.latitude %></td>
              <td><%= s.created_at.strftime("%FT%T") %></td>
              <td><%= s.updated_at.strftime("%FT%T") %></td>
              <td colspan="2">
                <%= link_to user_shop_requests_path(current_user.id, shop_id: s.id) do %>
                    <%= octicon "issue-opened" %>
                <% end %>
                <%= link_to user_shop_path(current_user.id, id: s.id), method: :delete, data: { confirm: "Are you sure?"} do %>
                    <%= octicon "trashcan" %>
                <% end %>
              </td>
            </tr>
            <%- end -%>
          </tbody>
        </table>
        <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @shops_admin %>
          </div>
          <div>
            <%= will_paginate @shops_admin, :container => false %>
          </div>
        </div>
        <%= link_to "Add invoice", new_invoice_path %>
      </div>

    </div>
  <% else %>
      <!--<p>MAN HINH CHO BON KO PHAI ADMIN</p>-->
        <% if @shops.empty? %>
            <p align="center">You don't have any shops now!!!</p>

            <div class="row">
              <div align="center">
                <%= button_to "Add Shop", new_user_shop_path(current_user.id), class: "btn btn-outline-primary", type: "button", :method => :get %>
              </div>
            </div>
            <p></p>

        <% else %>
        <h1 align="center"> My shop lists</h1>
        <div class="container">
          <div class="row">
            <table class="table table-hover">
              <thead>
              <tr>
                <th><%= sortable "name" %></th>
                <th><%= sortable "address" %></th>
                <th><%= sortable "longitude" %></th>
                <th><%= sortable "latitude" %></th>
                <!--<th colspan="2"></th>-->
              </tr>
              </thead>

              <tbody>
              <%- @shops.each do |s| -%>
                  <tr data-link="<%= user_shop_path(current_user.id, id: s.id) %>">
                    <td><%= s.name %></td>
                    <td><%= s.address %></td>
                    <td><%= s.longitude %></td>
                    <td><%= s.latitude %></td>
                    <td colspan="2">
                      <%= button_to "Request", user_shop_requests_path(current_user.id, shop_id: s.id), class: "btn btn-outline-dark", type: "button", form: {style: 'display:inline-block;'}, :method => :get%>
                      <%= button_to "Delete", user_shop_path(current_user.id, id: s.id), class: "btn btn-outline-danger", type: "button", method: :delete, data: { confirm: "Are you sure?"}, form: {style: 'display:inline-block;'} %>
                    </td>
                  </tr>
              <%- end -%>
              </tbody>
            </table>
            <div class="digg_pagination">
              <div class="page_info">
                <%= page_entries_info @shops %>
              </div>
              <div>
              <%= will_paginate @shops, :container => false %>
              </div>
            </div>
          </div>

          <div class="row">
            <div align="center">
              <%= button_to "Add Shop", new_user_shop_path(current_user.id), class: "btn btn-outline-primary", type: "button", :method => :get %>
            </div>
          </div>
          <p></p>

          <div>
            <div id="map" style='width: 1111px; height: 400px;'></div>
          </div>
        <% end %>

          <!--<div>-->
            <!--<div id="map" style='width: 1111px; height: 400px;'></div>-->
          <!--</div>-->
        </div>
  <% end %>
<% else %>
  <!--<p>MAN HINH CHO BON CHUA LOGIN</p>-->
<% end %>

<script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
    });
</script>
<script>
    $("tr[data-link]").click(function() {
        window.location = $(this).data("link")
    })
</script>
