
<% if user_signed_in? %>
        <% if @shops.empty? %>
            <p align="center">You don't have any shops now!!!</p>

            <div class="row">
              <div align="center">
                <%= button_to "Add Shop", new_user_shop_path(current_user.id), class: "btn btn-outline-primary", type: "button", :method => :get %>
              </div>
            </div>
            <p></p>

        <% else %>
        <h1 align="center"> My shop list</h1>
        <div class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col">

            <table class="table table-hover table-bordered" style="border-top-left-radius: 25px;">
              <thead class="thead-dark">
              <tr>
                <th><%= sortable "name" %></th>
                <th><%= sortable "address" %></th>
                <!--<th><%= sortable "longitude" %></th>-->
                <!--<th><%= sortable "latitude" %></th>-->
                <th colspan="2"></th>
              </tr>
              </thead>

              <tbody>
              <%- @shops.each do |s| -%>
                  <tr data-link="<%= user_shop_path(current_user.id, id: s.id) %>">
                    <td><%= s.name %></td>
                    <td><%= s.address %></td>
                    <!--<td><%= s.longitude %></td>-->
                    <!--<td><%= s.latitude %></td>-->
                    <td colspan="2">
                      <%= button_to "Request", user_shop_requests_path(current_user.id, shop_id: s.id), class: "btn btn-outline-dark", type: "button", form: {style: 'display:inline-block;'}, :method => :get%>
                      <%= button_to "Delete", user_shop_path(current_user.id, id: s.id), class: "btn btn-outline-danger", type: "button", method: :delete, data: { confirm: "Are you sure?"}, form: {style: 'display:inline-block;'} %>
                    </td>
                  </tr>
              <%- end -%>
              </tbody>
            </table>
              <div>
                <%= paginate @shops %>
              </div>
          </div>
            <div class="col">
              <div id="map" style='width: 100%; height: 90%;'></div>
              <%= button_to "Register Shop", new_user_shop_path(current_user.id), class: "btn btn-primary", type: "button", :method => :get %>
            </div>
          </div>
          <!--<div class="digg_pagination">-->
            <!--<div>-->
              <!--<%= paginate @shops %>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="row">-->
            <!--<div align="center">-->
              <!--<%= button_to "Add Shop", new_user_shop_path(current_user.id), class: "btn btn-outline-primary", type: "button", :method => :get %>-->
            <!--</div>-->
          <!--</div>-->


          <!--<div>-->
            <!--<div id="map" style='width: 1111px; height: 400px;'></div>-->
          <!--</div>-->

          <!--<div>-->
            <!--<div id="map" style='width: 1111px; height: 400px;'></div>-->
          <!--</div>-->
        </div>
        </div>
  <% end %>
<% end %>

<script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
    });
</script>
<script>
    $("tr[data-link]").click(function() {
        window.location = $(this).data("link")
    })
</script>
