<% if user_signed_in? %>
  <% if current_user.has_role? :admin %>
        <p>MAN HINH CUA BON ADMIN</p>
    <h1 align="center"> Shop lists</h1>
    <div class="container">
      <div class="row">
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Address</th>
              <th>Lon</th>
              <th>Lat</th>
              <th>Create at</th>
              <th>Update at</th>
              <!--<th colspan="2"></th>-->
            </tr>
          </thead>

          <tbody>
            <%- @shops_admin.each do |s| -%>
            <tr>
              <td><%= s.id %></td>
              <td><%= s.name %></td>
              <td><%= s.address %></td>
              <td><%= s.lon %></td>
              <td><%= s.lat %></td>
              <td><%= s.created_at %></td>
              <td><%= s.updated_at %></td>
              <td colspan="2">
                <%= link_to user_shop_requests_path(current_user.id, shop_id: s.id) do %>
                    <%= octicon "issue-opened" %>
                <% end %>
                <%= link_to user_shop_path(current_user.id, id: s.id), method: :delete, data: { confirm: "Are you sure?"} do %>
                    <%= octicon "trashcan" %>
                <% end %>
              </td>
            </tr>
            <%- end -%>
          </tbody>
        </table>
      </div>

    </div>
  <% else %>
      <p>MAN HINH CHO BON KO PHAI ADMIN</p>
        <% if @shops.empty? %>
            <p align="center">You don't have any shops now!!!</p>
        <% else %>
        <h1 align="center"> Shop lists</h1>
        <div class="container">
          <div class="row">
            <table class="table table-striped table-bordered">
              <thead class="thead-dark">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Lon</th>
                <th>Lat</th>
                <th>Create at</th>
                <th>Update at</th>
                <!--<th colspan="2"></th>-->
              </tr>
              </thead>

              <tbody>
              <%- @shops.each do |s| -%>
                  <tr>
                    <td><%= s.id %></td>
                    <td><%= s.name %></td>
                    <td><%= s.address %></td>
                    <td><%= s.lon %></td>
                    <td><%= s.lat %></td>
                    <td><%= s.created_at %></td>
                    <td><%= s.updated_at %></td>
                    <td colspan="2">
                      <%= link_to user_shop_requests_path(current_user.id, shop_id: s.id) do %>
                          <%= octicon "issue-opened" %>
                      <% end %>
                      <%= link_to user_shop_path(current_user.id, id: s.id), method: :delete, data: { confirm: "Are you sure?"} do %>
                          <%= octicon "trashcan" %>
                      <% end %>
                    </td>
                  </tr>
              <%- end -%>
              </tbody>
            </table>
          </div>
        <% end %>
          <div class="row">
            <div class="col-md-0 offset-md-10">
              <%= button_to "Add Shop", new_user_shop_path(current_user.id), class: "btn btn-outline-primary", type: "button", :method => :get %>
            </div>
          </div>
        </div>
  <% end %>
<% else %>
  <p>MAN HINH CHO BON CHUA LOGIN</p>
<% end %>