<h1 align="center"> Shop lists</h1>
<div class="container">
  <div class="row">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Address</th>
          <th>Lon</th>
          <th>Lat</th>
          <th>Create at</th>
          <th>Update at</th>
          <!--<th colspan="2"></th>-->
        </tr>
      </thead>

      <tbody>
        <%- @shops.each do |s| -%>
        <tr>
          <td><%= s.id %></td>
          <td><%= s.name %></td>
          <td><%= s.address %></td>
          <td><%= s.lon %></td>
          <td><%= s.lat %></td>
          <td><%= s.created_at %></td>
          <td><%= s.updated_at %></td>
          <td colspan="2">
            <%= link_to shop_requests_path(shop_id: s.id) do %>
                <%= octicon "issue-opened" %>
            <% end %>
            <%= link_to shop_path(id: s.id), method: :delete, data: { confirm: "Are you sure?"} do %>
                <%= octicon "trashcan" %>
            <% end %>
          </td>
        </tr>
        <%- end -%>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-0 offset-md-10">
      <%= button_to "Add Shop", new_shop_path, class: "btn btn-outline-primary", type: "button", :method => :get %>
    </div>
  </div>
</div>
