<h1 align="center"> Shop's Information</h1>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <span><b>Name: </b></span><%= @shop.name %><br>
        <span><b>Address: </b></span><%= @shop.address %><br>
        <span><b>Longitude: </b></span><%= @shop.longitude %><br>
        <span><b>Latitude: </b></span><%= @shop.latitude %><br>
        <span><b>Registered at: </b></span><%= @shop.created_at.strftime("%d/%m/%Y %H:%M") %><br>
        <span><b>Last edit at: </b></span><%= @shop.updated_at.strftime("%d/%m/%Y %H:%M") %><br>

        <%= button_to "Shop's request List", user_shop_requests_path(current_user.id, @shop.id), class: "btn btn-outline-dark", type: "button", form: {style: 'display:inline-block;'}, :method => :get%>
        <%= button_to "Create new request", new_user_shop_request_path(:shop_id => @shop.id), class: "btn btn-outline-primary", type: "button", form: {style: 'display:inline-block;'}, :method => :get %>

      </div>
      <div class="col">
        <div id="map" style='width: 100%; height: 90%;'></div>
      </div>
    </div>
  </div>
</div>

<script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
    });
</script>