<%= simple_form_for([current_user, @shop, @request]) do |r| %>
    <%= r.input :address, label: "Delivery Address" %>
    <small class="form-text text-muted">Leave longitude and latitude blank if you have entered address </small>
    <div class="form-row">
      <div class="col">
        <%= r.input :longitude, class:"form-control" %>
      </div>
      <div class="col">
        <%= r.input :latitude, class:"form-control" %>
      </div>
    </div>
    <%= r.input :deposit, label: "Deposit Cost" %>
    <small class="form-text text-muted">Enter the amount of money the shipper have to deposit with the shop </small>
    <%= r.input :comment %>
    <div class='input-append bootstrap-timepicker-component' style='display: inline;'>
    <%= r.input :reserve, id: "timepicker1", type: "text", class: "form-control input-small" %>
    </div>
    <p></p>
    <%= r.button :submit, class: "btn btn-outline-primary" %>
<% end %>

