<h1 align="center"> Request lists</h1>
<% if @requests.empty? %>
    <p align="center">This store hasn't have any requests yet!!!</p>
<% else %>
  <div class="container">
    <div class="row">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
          <th>Destination Address</th>
          <th>Status</th>
          <th>Create at</th>
          <th>Update at</th>
        </tr>
        </thead>

        <tbody>
        <%- @requests.each do |r| -%>
            <tr>
              <td><%= r.address %></td>
              <td><%= r.status %></td>
              <td><%= r.created_at %></td>
              <td><%= r.updated_at %></td>

              <td colspan="2">
                <%= button_to "Edit", edit_user_shop_request_path(current_user.id, @shop.id, id: r.id), class: "btn btn-outline-dark", method: "get", type: "button", form: {style: 'display:inline-block;'}%>
                <%= button_to "Delete", user_shop_request_path(id: r.id), class: "btn btn-outline-danger", type: "button", method: :delete, data: { confirm: "Are you sure?"}, form: {style: 'display:inline-block;'} %>
              </td>
            </tr>
        <%- end -%>
        </tbody>
      </table>
    </div>
<% end %>
    <div class="row">
      <div class="col-md-0 offset-md-9">
        <%= button_to "Create new request", new_user_shop_request_path, class: "btn btn-outline-primary", type: "button", :method => :get %>
      </div>
    </div>
  </div>
