<div class="container-fluid" style="min-height: 700px; display: block;">
  <div class="container" style="display: block; padding-bottom: 0px">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">All(<%=@requests_count %>)</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Finding Shipper(<%=@requests_pending_count %>)</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Founded Shipper(<%=@requests_found_count %>)</a>
      </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <h1 align="center"> Request list</h1>
        <% if @requests.empty? %>
            <p align="center">You have no requests!!!</p>
        <% else %>
            <div class="container">
              <div class="row">
                <table class="table table-bordered table-hover">
                  <thead class="thead-dark">
                  <tr>
                    <th><%= sortable "address", "Destination Address" %></th>
                    <th><%= sortable "status" %></th>
                    <th><%= sortable "created_at" %></th>
                    <!--<th><%= sortable "updated_at" %></th>-->
                    <th><%= sortable "reserve" %></th>

                  </tr>
                  </thead>

                  <tbody>
                  <%- @requests.each do |r| -%>
                      <% shop_id = Request.find(r.id).shop_id%>
                      <tr data-link="<%= user_shop_request_path(current_user.id, shop_id, id: r.id) %>">
                        <td><%= r.address %></td>
                        <td><%= r.status %></td>
                        <td><%= r.created_at.strftime("%d/%m/%Y %H:%M") %></td>
                        <!--<td><%= r.updated_at.strftime("%d/%m/%Y %H:%M") %></td>-->
                        <td><%= r.reserve.strftime("%d/%m/%Y %H:%M") %></td>

                      </tr>
                  <%- end -%>
                  </tbody>
                </table>
                <div>
                  <%= paginate @requests, param_name: "requests", params: {active_tab: 'all'} %>
                </div>
              </div>
        <% end %>
        </div>

      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <h1 align="center"> Request list</h1>
        <% if @requests_pending.empty? %>
            <p align="center">You have no requests!!!</p>
        <% else %>
            <div class="container">
              <div class="row">
                <table class="table table-hover table-bordered">
                  <thead class="thead-dark">
                  <tr>
                    <th><%= sortable "address", "Destination Address" %></th>
                    <th><%= sortable "status" %></th>
                    <th><%= sortable "created_at" %></th>
                    <th><%= sortable "updated_at" %></th>
                  </tr>
                  </thead>

                  <tbody>
                  <%- @requests_pending.each do |r| -%>
                      <% shop_id = Request.find(r.id).shop_id%>
                      <tr data-link="<%= user_shop_request_path(current_user.id, shop_id, id: r.id) %>">
                        <td><%= r.address %></td>
                        <td><%= r.status %></td>
                        <td><%= r.created_at.strftime("%d/%m/%Y %H:%M") %></td>
                        <td><%= r.updated_at.strftime("%d/%m/%Y %H:%M") %></td>

                      </tr>
                  <%- end -%>
                  </tbody>
                </table>
                <div>
                  <%= paginate @requests_pending, param_name: "requests_pending", params: {active_tab: 'pending'} %>
                </div>
              </div>
        <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <h1 align="center"> Request list</h1>
        <% if @requests_found.empty? %>
            <p align="center">You have no requests!!!</p>
        <% else %>
            <div class="container">
              <div class="row">
                <table class="table table-hover table-bordered">
                  <thead class="thead-dark">
                  <tr>
                    <th><%= sortable "address", "Destination Address" %></th>
                    <th><%= sortable "status" %></th>
                    <th><%= sortable "created_at" %></th>
                    <th><%= sortable "updated_at" %></th>
                  </tr>
                  </thead>

                  <tbody>
                  <%- @requests_found.each do |r| -%>
                      <% shop_id = Request.find(r.id).shop_id%>
                      <tr data-link="<%= user_shop_request_path(current_user.id, shop_id, id: r.id) %>">
                        <td><%= r.address %></td>
                        <td><%= r.status %></td>
                        <td><%= r.created_at.strftime("%d/%m/%Y %H:%M") %></td>
                        <td><%= r.updated_at.strftime("%d/%m/%Y %H:%M") %></td>

                      </tr>
                  <%- end -%>
                  </tbody>
                </table>
                <div>
                  <%= paginate @requests_found, param_name: "requests_found", params: {active_tab: 'found'} %>
                </div>
              </div>
        <% end %>
        </div>
      </div>

    </div>

  </div>
</div>

<script>
    $(function() {
        var loc = window.location.href; // returns the full URL
        if(/active_tab=all/.test(loc)) {
            $('#nav-home-tab').addClass('active');
            $('#nav-profile-tab').removeClass('active');
            $('#nav-contact-tab').removeClass('active');

            $('#nav-home').addClass('show active');
            $('#nav-profile').removeClass('show active');
            $('#nav-contact').removeClass('show active');
        }

        if(/active_tab=pending/.test(loc)) {
            $('#nav-home-tab').removeClass('active');
            $('#nav-profile-tab').addClass('active');
            $('#nav-contact-tab').removeClass('active');

            $('#nav-home').removeClass('show active');
            $('#nav-profile').addClass('show active');
            $('#nav-contact').removeClass('show active');
        }

        if(/active_tab=found/.test(loc)) {
            $('#nav-home-tab').removeClass('active');
            $('#nav-profile-tab').removeClass('active');
            $('#nav-contact-tab').addClass('active');

            $('#nav-home').removeClass('show active');
            $('#nav-profile').removeClass('show active');
            $('#nav-contact').addClass('show active');
        }
    });
</script>
<script>
    $('#nav-home-tab').click(function() {
        $('#nav-home').show();
        $('#nav-profile').hide();
        $('#nav-contact').hide();
    });
    $('#nav-profile-tab').click(function() {
        $('#nav-home').hide();
        $('#nav-profile').show();
        $('#nav-contact').hide();
    });
    $('#nav-contact-tab').click(function() {
        $('#nav-home').hide();
        $('#nav-profile').hide();
        $('#nav-contact').show();
    });
</script>
<script>
    $("tr[data-link]").click(function() {
        window.location = $(this).data("link")
    })
</script>

